@import url(normalize.css);

html {
  font-size: 14px;
  line-height: 1.618;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
  -webkit-user-select: none;
}

.mainFrame {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: url(../img/frame.svg) center top no-repeat;
  background-size: 400px 200px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  flex: 1;
  padding: 2rem 1.5rem 0.5rem;
  display: flex;
  flex-direction: column;
}

.content h4 {
  flex: 0 0 27px;
  margin: 0 0 5px;
}

.content .list {
  overflow: auto;
  flex: 1;
}

.content ul {
  list-style: none;
  padding: 0 0 1rem;
  margin: 0 0 1rem;
  border-bottom: 1px dotted #dbdbdb;
}

.content ul:last-child {
  margin: 0;
  padding: 0;
  border: none;
}

.empty-state {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.empty-state h2 {
  font-weight: 300;
  margin: 0 0 20px;
}

.quit {
  width: 20px;
  height: 20px;
  position: fixed;
  top: 25px;
  right: 15px;
  cursor: pointer;
  opacity: .7;
}

.copyable {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 1px dotted #dbdbdb;
  padding: 2px 5px;
  border-radius: 0 4px 4px 4px;
  background-color: rgba(255, 255, 255, .8);
  position: relative;
}

.copyable:before {
  content: attr(data-title);
  position: absolute;
  bottom: 100%;
  left: -1px;
  background-color: #A5A5A5;
  color: #fff;
  font-size: 10px;
  line-height: 14px;
  height: 14px;
  border-radius: 4px 4px 0 0;
  padding: 0 5px;
  text-transform: uppercase;
}

.copyable.no-title:before {
  display: none;
}

.copyable code {
  display: inline-block;
  margin-right: 5px;
  padding-right: 5px;
  border-right: 1px solid #ccc;
  font-size: .9rem;
}

.copyable a {
  display: block;
  width: 16px;
  height: 16px;
}

.copyable a img {
  width: 100%;
  height: auto;
}
