@import url(normalize.css);

html {
  font-size: 14px;
  line-height: 1.618;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
}

.mainFrame {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: url(./img/frame.svg) center top no-repeat;
  background-size: 400px 200px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.mainFrame .content {
  flex: 1;
  overflow: auto;
  padding: 1rem 1.5rem 2rem;
}

.mainFrame .content ul {
  list-style: none;
  padding: 0 0 1rem;
  margin: 0 0 1rem;
  border-bottom: 1px dotted #DBDBDB;
}

.mainFrame .content ul:last-child {
  margin: 0;
  padding: 0;
  border: none;
}

h2 {
  text-align: center;
  font-weight: 300;
  margin: 0;
  position: fixed;
  top: 50%;
  left: 0;
  right: 0;
}
